.container {
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 5px white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.container .heading {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content input {
    border: solid 2px gray;
    padding: 10px;
    border-radius: 10px;
}

textarea {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
}

button {
    border: 2px solid gray;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
}

button:hover{
    background-color: black;
    color: white;
}

/* Responsive styles for screen widths up to 850px */
@media screen and (max-width: 850px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    .content {
        flex-direction: column;
    }

    .content input,
    textarea {
        width: 100%;
        box-sizing: border-box;
    }

    button {
        width: 100%;
    }
}
